:root {
	--white-color: #fff;
	--iris: #4d5ae5;
	--navy-blue: #2e2f42;
	--slate: #434455;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
	--ocean: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	background-color: var(--white-color);
}

ul,
ol {
	list-style-type: none;
	margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
	margin: 0px;
}

a {
	text-decoration: none;
}

.section-header {
	color: var(--navy-blue);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
}

header {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
	justify-content: space-between;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
	margin-right: 76px;
}

.logo .header-logo {
	color: var(--navy-blue);
}

.header-nav-link {
	font-weight: 500;
	color: var(--navy-blue);
}

.header-address {
	font-style: normal;
}

.contacts-link {
	color: var(--slate);
}

.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
	color: var(--ocean);
}

.hero {
	background: var(--navy-blue);
}

.main-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--white-color);
	text-align: center;
	margin-bottom: 48px;
}

.hero-button {
	font-family: "Roboto", sans-serif;
	background: var(--iris);
	font-weight: 500;
	line-height: 1.5;
	color: var(--white-color);
	letter-spacing: 0.04em;
	cursor: pointer;
	margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
	background: var(--ocean);
}

.visually-hidden {
	visibility: hidden;
}

.features-list-item-header {
	color: var(--navy-blue);
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.features-list-item-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.team {
	background-color: var(--cloud);
}

.team-header {
	margin-bottom: 72px;
}

.team-card {
	background-color: var(--white-color);
}

.team-card-header {
	color: var(--navy-blue);
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.team-card-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.portfolio-header {
	margin-bottom: 72px;
}

.portfolio-list {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	list-style: none;
}

.portfolio-item {
	background-color: var(--white-color);
}

.portfolio-item-header {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
}

.portfolio-item-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.footer {
	background-color: var(--navy-blue);
}

.footer-logo {
	color: var(--cloud);
	margin-bottom: 17.5px;
}

.footer-text {
	color: var(--cloud);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.32px;
}
